pkgbase = python-pygithub
	pkgdesc = Use the full Github API v3
	pkgver = 2.5.0
	pkgrel = 2
	url = https://github.com/PyGithub/PyGithub
	arch = any
	license = LGPL
	checkdepends = python-pytest
	checkdepends = python-cryptography
	checkdepends = python-httpretty
	checkdepends = python-parameterized
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-deprecated
	depends = python-pyjwt
	depends = python-requests
	depends = python-pynacl
	depends = python-typing_extensions
	source = python-pygithub-2.5.0.tar.gz::https://github.com/PyGithub/PyGithub/archive/v2.5.0.tar.gz
	sha512sums = 4fbb6b27e21ba97ee59a0bafee40768d2beb61d9d405e2edd04bb859df7e299c072917dd7fde85202a539591d806e1a4697576cab78b465c559eef50fa223183

pkgname = python-pygithub
