pkgbase = python-pygithub
	pkgdesc = Use the full Github API v3
	pkgver = 2.3.0
	pkgrel = 2
	url = https://github.com/PyGithub/PyGithub
	arch = any
	license = LGPL
	checkdepends = python-pytest
	checkdepends = python-cryptography
	checkdepends = python-httpretty
	checkdepends = python-parameterized
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-deprecated
	depends = python-pyjwt
	depends = python-requests
	depends = python-pynacl
	depends = python-dateutil
	source = python-pygithub-2.3.0.tar.gz::https://github.com/PyGithub/PyGithub/archive/v2.3.0.tar.gz
	sha512sums = aa0496b57550923fa304bd22100ed480cd2a9e909e9030014252e9106f7bde7ba16b1f693b88c9f17c672e58e1ae9a2a5f11adcf97fc6f4c7258eacbaf6fafc0

pkgname = python-pygithub
