pkgbase = python-pygithub
	pkgdesc = Use the full Github API v3
	pkgver = 2.1.1
	pkgrel = 1
	url = https://github.com/PyGithub/PyGithub
	arch = any
	license = LGPL
	checkdepends = python-pytest
	checkdepends = python-cryptography
	checkdepends = python-httpretty
	checkdepends = python-parameterized
	makedepends = python-setuptools-scm
	depends = python-deprecated
	depends = python-pyjwt
	depends = python-requests
	depends = python-pynacl
	depends = python-dateutil
	source = python-pygithub-2.1.1.tar.gz::https://github.com/PyGithub/PyGithub/archive/v2.1.1.tar.gz
	sha512sums = a98da47b3c4cef564ebb746f83a26cedd17fae28da64c55484e7e6df0ccad91527a5fc138ea5436215462aed9844bd8a8b718ac4ebaa813243f2d821835d940f

pkgname = python-pygithub
